.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.6rem;
	background: white;
	color: black;
	flex-wrap: wrap;
	
}
.dark {
	background: black;
	color: white;
}
.logo a{
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
}
.dark .logo {
	color: white;
}
.cart {
	display: flex;
	align-items: center;
	gap: 10px;

}
.cart a{
	font-size: 1.15rem;
	text-decoration: none;
	font-weight: bold;
	text-decoration: none;
}
.cartCount {
	background: red;
	color: white;
	font-size: 1rem;
	padding: 3px 10px;
	border-radius: 50%;
}
.search {
	padding: 12px;
	width: 50%;
	max-width: 100%;
	border-radius: 5px;
	border: 1px solid gray;
	color: black;
	font-size: 1rem;
}
.dark .search {
	background: #333;
	color: white;
}
.dark ::placeholder {
	color: white;
}
.dark a {
	color: white;
}
.toggleTheme {
	border: none;
	padding: 5px 10px;
	border-radius: 2px;
	background: white;
}
@media (max-width: 660px) {
	.navbar {
		align-items: center;
		gap: 5px;
	}
	.search {
		width: 100%;
		order: +1;
	}
	.logo a{
		font-size: 1rem;
	}
	.cart a{
		font-size: 0.75rem;
	}
	.cartCount {
		font-size: 0.6rem;
		padding: 1px 4px;
	}
	.toggleTheme {
		padding: 3px 4px;
		font-size: 0.5rem;
	}
}
