.productDetails {
	display: flex;
	gap: 1.5rem;
	padding: 2rem;
	max-width: 900px;
	margin: auto;
}
.imageContainer img {
	width: 320px;
	border-radius: 0.5rem;
	height: auto;
}
.detailsContainer {
	flex: 1;
}
button {
	padding: 0.6rem;
	background: #f39c12;
	color: white;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	margin-top: 1rem;
	transition: 0.3s;
}
button:hover {
	background: #e67e22;
}
@media (max-width: 600px) {
	.productDetails {
		 flex-direction: column;
		 align-items: center;
		 text-align: center;
	}
	.imageContainer img {
		width: 100%;
	}
}